.btn-action-general {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
	.ui-button-success {
		padding: 7px 15px;
	    margin-right: 10px;
	    margin-left: 10px;
	    text-transform: uppercase;
	    font-size: 14px;
	    background: #21B799;
	    color: #ffffff;
	}
	/*.ui-button-secondary {
		padding: 7px 15px;
	    text-transform: uppercase;
	    font-size: 14px;
	    color: #21B799;
	}*/
}
.bg-blanc {
    background: #ffffff;
    padding-top: 5px;
    min-height: 94vh;
}
.breacumb.ui-g {
    margin-top: 0;
}

.real-content-page {
	padding: 15px;
	h3 {
	    margin-top: 40px;
	    margin-bottom: 40px;
	}
	.sho-data {
		label {
			color: #5b5b5b;
			font-size: 12px;
		}
		p {
		    margin: 5px 0 15px;
		    font-size: 14px;
		}
		p-checkbox.ng-pristine {
		    margin-left: 20px;
		}
	}
}
.btn-action-etapes {
    text-align: right;
    margin-right: 14px;
	.btn-retour {
	    background-color: #eeeeee !important;
	    border: 1px solid #eeeeee !important;
	    color: #5B5B5B;
        padding: 3px 5px;
	}
}

.ui-button {
    background-color: #21b799;
    border: 1px solid #21b799;
    margin-left: 10px;
}
