.btn-action-general {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
	.ui-button-success {
		padding: 7px 15px;
	    margin-right: 10px;
	    margin-left: 10px;
	    text-transform: uppercase;
	    font-size: 14px;
	    background: #21B799;
	    color: #ffffff;
	}
	.ui-button-secondary {
		padding: 7px 15px;
	    text-transform: uppercase;
	    font-size: 14px;
	    color: #21B799;
	}
}
.bg-blanc {
    background: #ffffff;
    padding-top: 5px;
    min-height: 94vh;
}
.breacumb.ui-g {
    margin-top: 0;
}

.btn-action-etapes {
    text-align: right;
    button.bt.ui-button-success {
	    padding: 10px 15px;
	}
}
.ui-button {
    background-color: #21b799;
    border: 1px solid #21b799;
    margin-left: 10px;
}

.bt2 {
	height: 50px;
    width: 80%;
}

.bouton_visite {
    text-align: center;
    margin-top: 5px;
}

.bouton {
    margin-top: 25px;
    width: 50%;
}
.real-content-page{
    padding: 15px;
    text-align: -webkit-center;
}

.footer {
    margin-top: 150px;
}