.body{
    width: 100%;
    height: 100%;
    background-color: white;
}
h3{
    font-size: 22px;
    color: gray;
    margin-left: 6px;
    margin-top: 0px ;
    padding-top: 10px;
}

.btn_nw_cr{
    margin-left: 6px;
}

.bt{
    margin-left : 2px
}

.title_body{
    margin-top: 0px;
    padding-top: 13px;
    height: 48px;
    padding-bottom: 13px;
    display: contents;
}

.table {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.tableau th {
    text-align: left ;
}

 