<ion-content>
	<div class="container" id="fourPageStyle">

		<!-- HEAD -->
		<div class="head">
			<div class="back_button">
				<span>
					<img src="../../../assets/image/logo_itg.png" (click)="open_menu()" />
				</span>
			</div>

			<div class="menu">
				<div class="list_icon">
					<i class="fas fa-at"
						style="color: white ;   margin-right: 10px; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
					<i class="fas fa-comments"
						style=" color: white ;   margin-right: 10px; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
					<i class="fas fa-ban on fa-camera"
						style=" color: white ;   margin-right: 10px; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
				</div>
			</div>

			 <app-head></app-head>
		</div>
		<!-- HEAD -->


		<div class="body">
			<div class="bg-blanc">
				<div class="title_body">
					<h3 *ngIf = "data_from_route.partner_id">
						<a (click)="page_two()">
							<i class="fas fa-arrow-left" style="font-size: 18px ; color: #21B799"></i>
						</a>
						{{data_from_route.partner_id}}
					</h3>
				</div>

				<!--<div *ngIf="etat!= 'Clôturée'">
					<div class="btn-action-general">
						<button *ngIf="edit == false" pButton type="button" label="MODIFIER" class="bt bt-vert"
							(click)="enable_edit()"></button>
						<button *ngIf="edit == true" pButton type="button" label="SAUVEGARDER" class="bt bt-vert"
							(click)="sauvegarder()"></button>
						<button *ngIf="edit == true" pButton type="button" label="ANNULER"
							class="bt ui-button-secondary" (click)="annuler()"></button>
					</div>
				</div> -->

				<div class="breacumb ui-g">
					<div class="ui-g-4 dropdownworkflow">

					</div>
					<div class="ui-g-8 dropdownworkflow noCLick">
							<p class="etat">{{etat}}</p>
						</div>
				</div>

				<div class="real-content-page">
					<h3 *ngIf = "data_from_route.partner_id">{{data_from_route.partner_id}}</h3>

					<h5>Relevé de Prix (en MGA par paquet)</h5>
					<div class="table" id="content-table-scroll" *ngIf="etat == 'Clôturée'  || data_from_route.tour_status == 'cloture' ">
						<p-table #dt [columns]="cols" [value]="data_from_db">

							<ng-template pTemplate="header" let-columns>
								<tr style="background-color: #D3D3D3">
									<th *ngFor="let col of columns" [pSortableColumn]="col.field"
										[ngStyle]="{'display': col.display, 'width' : col.width}">
										{{col.header}}
										<p-sortIcon [field]="col.field"></p-sortIcon>
									</th>
								</tr>
							</ng-template>

							<ng-template pTemplate="body" let-rowData let-columns="columns">
								<tr>

									<td *ngFor="let col of columns"
										[ngStyle]="{'display': col.display, 'text-align' : col.text_align, 'width' : col.width}"
										style="background-color: #D3D3D3">
										{{rowData[col.field]}}
									</td>

								</tr>
							</ng-template>
						</p-table>
					</div>

					<div class="table" id="content-table-scroll" *ngIf="etat != 'Clôturée'  && data_from_route.tour_status != 'cloture'" id = "pageThreeId">
						<p-table #dt [columns]="cols" [value]="data_from_db">

							<ng-template pTemplate="header" let-columns>
								<tr>

									<th *ngFor="let col of columns" [pSortableColumn]="col.field"
										[ngStyle]="{'display': col.display, 'width' : col.width}">
										{{col.header}}
										<p-sortIcon [field]="col.field"></p-sortIcon>
									</th>
								</tr>
							</ng-template>

							<ng-template pTemplate="body" let-rowData let-columns="columns">
								<tr>

									<td *ngFor="let col of columns"
										[ngStyle]="{'display': col.display, 'text-align' : col.text_align, 'pointer-events' : col.pointer_events, 'background' : col.bg}"
										pEditableColumn>
										<p-cellEditor>

											<ng-template pTemplate="input">
												<input type="number" value="" min="0" [(ngModel)]="rowData[col.field]"
													style="text-align: right">
											</ng-template>

											<ng-template pTemplate="output">
												{{rowData[col.field]}}
											</ng-template>

										</p-cellEditor>
									</td>

								</tr>
							</ng-template>
						</p-table>
					</div>

				</div>

				<div class="btn-action-etapes">
					<button pButton type="button" label="RETOUR" class="bt btn-retour" (click)="page_two()"></button>
					<span style="margin-left: 5px;margin-right: 5px;">ou</span>
					<button pButton type="button" label="SUIVANT" class="bt" (click)="page_four()"></button>
					<p>page 3/7</p>
				</div>

			</div>

		</div>

		<div class="footer"></div>

	</div>
</ion-content>