<ion-content>
    <div class = "container">

        <!-- HEAD -->
        <div class = "head">
          <div class="back_button">
              <span>
                  <img src = "../../assets/image/logo_itg.png" (click)="open_menu()" />
                </span>
          </div>
  
          <div class = "menu">
            <div class="list_icon">
              <i class="pi pi-envelope" style="font-size: 24px ; color: white ; margin-right: 6px"></i>
              <i class="pi pi-comments" style="font-size: 24px ; color: white ; margin-right: 6px"></i>
              <i class="pi pi-user" style="font-size: 24px ; color: white ; margin-right: 6px"></i>
            </div> 
          </div>

           <app-head></app-head>
           
        </div>
        <!-- HEAD -->

        <div class="body">
          <div class = "title_body">
            <h3>Tournées</h3>
            <div class = "btn_nw_cr">
             <!-- <button pButton type="button" label="CRÉER"     class="bt ui-button-success" (click)="open_nouveau_client()"></button>
              <button pButton type="button" label="IMPORTER"  class="bt ui-button-secondary"></button> -->
            </div>
          </div>
          <div class = "table">

          </div>
        </div>

        <div class="footer">

        </div>
    </div>

</ion-content>
