.body{
    width: 100%;
    height: 100%;
    background-color: white;
}
h2 {
    padding-left: 10px;
}
h3{
    font-size: 22px;
    color: gray;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-top: 0;
    text-align: left;
}
.btn_nw_cr{
    margin-left: 6px;
}
.bt{
    margin-left : 2px
}
.title_body{
    margin-top: 0px;
    height: 48px;
    padding-bottom: 13px;
	padding-top: 10px;
}
.archive{
    height: 48px;
    background-color: #E2E2E0
}
.div_btn {
    text-align: -webkit-right;
}
.form {
    width: 100%;
    height: 100%;
    background-color: white;
}
.cam {
    text-align: -webkit-center;
    border: 1px solid gray;
    display: block;
}
.photo {
    width: 98%;
    margin-top: 8px;
}
.form_item {
    margin: 15px;
}
.form_inside {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.gps {
    margin-top: 2px;
    margin-left: 0px;
}
.form_item p {
    font-weight: bold;
    margin-top: 5px;
}
body .ui-widget-content p {
    font-weight: bold !important;
    margin-bottom: 10px !important;
}
.canal {
    font-weight: bold;
    color: #21B799;
}

.label_nom {
    color : #8f8f8f ;
    font-size: 12px ;
    text-align: left ;
}
.nom_tournee {
    color : #666666 ;
    font-size: 13px;
    text-align: right ;
}

.message {
    background-color: #D9EDF7;
    color: #31708F;
    border-color: #bce8f1;
    font-size: 13px;
    width: 98%;
    margin-left: 1%;
    padding: 18px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    vertical-align: middle ;
}

.first {
    color: #875A7B;
    text-decoration: underline;
    margin-bottom: 0px;
    font-size: 13px;
    padding: 0px 0px 0px 8px;
    margin-top: 10px;
}



.ban-gris {
    margin-top: -9px;
    height: 48px;
    background-color: #E2E2E0;
    border-top: 1px solid #8f8f8f;
    border-bottom: 1px solid #666666;
}
.fiche-visite {
    height: 46px;
    max-height: 48px;
    border-left: 1px solid #666666;
    padding: 10px;
}

.ps {
    position: absolute;
    color: #666666;
    margin: 0px 0px 0px 5px;
}

.soratra {
    padding: 0px;
}

.xc {
    display: -webkit-box;
    background-color: #D3D3D3
}

.icone {
    padding: 0px;
}

.etat2 {
    width: 150px;
    background-color: #21b799;
    height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 0px;
    margin-left: 45%;
    padding: 6px;
}